.listItemContent {
  padding: 5px;
  width: 390.99px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 0.5px #e0e0e0;
}

.listItemContent button {
  background-color: white;
  border: none;
  font-style: italic;
  box-shadow: 0.5px 0.5px 0.5px #e0e0e0;
}

.listItemContent span {
  font-weight: 600;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.delete {
  height: 16px;
  width: 16px;
  margin-top: 7.5px;
  margin-right: 3.5px;
}
