.listItemContent {
  padding: 5px;
  width: 330px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
}

.listItemContent button {
  background-color: white;
  border: none;
  font-style: italic;
}

.listItemContent span {
  font-weight: 600;
  font-family: "Baloo Bhaijaan 2", cursive;
}
