.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contentList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number {
  padding: 3px;
}
p {
  font-weight: 600;
  font-family: "Baloo Bhaijaan 2", cursive;
}

h2 {
  margin-top: 100px;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.loading {
  width: 200px;
  height: 100px;
}

.addItemButton {
  margin-top: 12px;
  padding: 5px;
  border-radius: 5px;
  width: 402.99px;
  height: 42px;
  color: white;
  background-color: #01a8ff;
  font-size: medium;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
