.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalConteiner {
  background-color: white;
  border-radius: 10px;
  width: 280px;
  height: 155.67px;
}

.modalConteiner button {
  width: 120px;
  height: 29.97px;
  margin-top: 12px;
}

.add {
  margin-left: 16.96px;
  color: white;
  background-color: #b8d2f1;
  border: none;
  font-size: medium;
  font-weight: 500;
}

.btnready {
  background-color: #01a8ff;
  margin-left: 16.96px;
  color: white;
  border: none;
  font-size: medium;
  font-weight: 500;
}

.close {
  background-color: #e3e7e8;
  border: none;
  color: black;
}

input {
  border: 1.5px solid #1c70d1 !important;
  border-radius: 2px;
  width: 250px;
  height: 25px;
}

input:focus {
  border: 1.5px solid #1c70d1 !important;
}

h3 {
  font-family: "Baloo Bhaijaan 2", cursive;
}
